
/****************************  MAIN STYLES  ***********************************/

/**********************
1. HTML Body Styles
**********************/

@media  screen and (max-width: 600px) {
    .background{
        background-color: brown;
    }   
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .background{
        background-color: violet;
    }
}

@media screen and (min-width: 1025px) {
    .background{
        background-color: cyan;
    }
}
/**********************
2. Heading Styles
**********************/

h1 {
    font-size: 3em;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    margin: 15px 10px;
}

h3 {
    font-size: 2em;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    margin: 15px 10px;
}

/**********************
3. Main Body Styles
**********************/

p {
text-align: justify;
line-height: 1.5;
font-size: 1.5em;
}

/**********************
4. Footer Styles
**********************/

footer {
    height:48px;  
    background-color: rgba(229, 125, 22, 0.845)
}

footer p {
    font-family: 'Work Sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding: 6px 0px;
}

